dashscope>=1.20.1
faiss-cpu
grpcio
jieba
json5
jsonref
jupyter>=1.0.0
langchain
langchain-community
langchain-experimental
llama-index==0.10.29
llama-index-core==0.10.39.post1
llama-index-readers-json
llama-index-retrievers-bm25==0.1.5
modelscope[framework]>=1.16.0
openai
opencv-python
openpyxl
pdfminer.six
Pillow
pydantic>=2.3.0
pytest
pytest-mock
python-dotenv
requests>=2.32.3
seaborn
sentencepiece
tiktoken
unstructured
