dashscope
faiss-cpu
jieba
json5
jupyter>=1.0.0
langchain
langchain-community
langchain-experimental
modelscope>=1.9.3
moviepy
openai
opencv-python
openpyxl
pdfminer.six
Pillow
pydantic>=2.3.0
pytest
pytest-mock
python-dotenv
seaborn
sentencepiece
tiktoken
transformers>=4.33
unstructured
zhipuai
vllm
