exceptiongroup
fastmcp   # todo: tbd...
gradio
http://modelscope-agent.oss-cn-hangzhou.aliyuncs.com/tmp/modelscope_agent-0.8.0rc2-py3-none-any.whl
langchain
langchain-openai
langchain_core
langchain_mcp_adapters
langgraph
mcp
modelscope_studio==1.2.3
oss2
qwen-agent==0.0.21
