dashscope
faiss-cpu
gradio==4.8
https://modelscope-demo-widget.oss-cn-zhangjiakou.aliyuncs.com/modelscope_gradio_components-0.0.1-py3-none-any.whl
langchain
markdown-cjk-spacing
mdx_truly_sane_lists
pymdown-extensions
python-slugify
unstructured
